@model List<ProdutoViewModel>

<!-- PRINCIPAIS FACULDADES-->
<div class="container">

    <div id="principais-faculdades">
        <h3>Principais faculdades:</h3>
        <div id="carousel-faculdades">
            <div>
                <div class="carousel-item">
                    <img src="img/gr/gr-iesb.png" alt="Logo IESB">
                </div>
            </div>
            <div>
                <div class="carousel-item">
                    <img src="img/gr/gr-unb.png" alt="Logo UNB">
                </div>
            </div>
            <div>
                <div class="carousel-item">
                    <img src="img/gr/gr-uniceub.png" alt="Logo Uniceub">
                </div>
            </div>
            <div>
                <div class="carousel-item">
                    <img src="img/gr/gr-catolica.png" alt="Logo Catolica">
                </div>
            </div>
            <div>
                <div class="carousel-item">
                    <img src="img/gr/gr-udf.png" alt="Logo UDF">
                </div>
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <img src="img/gr/gr-iesb.png" alt="Logo IESB">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/gr/gr-unb.png" alt="Logo UNB">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/gr/gr-uniceub.png" alt="Logo Uniceub">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/gr/gr-catolica.png" alt="Logo Catolica">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/gr/gr-udf.png" alt="Logo UDF">
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- VIDEO CHAMADA -->
<div class="container">
    <div class="conteudo-sobre">
        <div class="conteudo-sobre-video">
            <img src="img/gr/gr-thumbnail.png" alt="Thumb Vídeo sobre Mappra">
            <a href="#openModal">
                <svg id="play-video" xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 63 63">
                    <path class="animation-play" fill-rule="evenodd"
                          d="M31.5 63C14.103 63 0 48.897 0 31.5S14.103 0 31.5 0 63 14.103 63 31.5 48.897 63 31.5 63zm-.5-5c14.36 0 26-11.64 26-26S45.36 6 31 6 5 17.64 5 32s11.64 26 26 26zM20 46.163V17.837c0-2.225 2.505-3.581 4.437-2.402l23.2 14.163a2.798 2.798 0 0 1 0 4.804l-23.2 14.163C22.505 49.745 20 48.388 20 46.163zM41 32l-15-9v18l15-9z" />
                </svg>
            </a>
        </div>
        <div class="conteudo-sobre-conteudo">
            <h3>
                O Estúdio Mappa é a sua cara, <br> vem conhecer um pouco mais <br> a gente.
            </h3>
            <p>
                Há pouco mais de 4 anos, a gente resolver levar um pouco mais de conhecimento para quem estava
                buscando e não encontrava em lugar nenhum, pelo menos não do jeito que eles queriam.
            </p>
            <p>
                Um lugar para que pudessem aprender, mas também se sentir em casa, chamar de seu. Aos poucos a
                vontade foi tomando forma, os alunos aprendendo e um sonho virando realidade.
            </p>
            <p>
                <strong>Seja muito bem vindo!</strong>
            </p>
        </div>
    </div>
</div>

<!-- CAROUSEL DEPOIMENTOS -->
<div class="container">
    <div id="carousel-depoimentos" class="carousel-depoimentos">
        <div>
            <div class="depoimento-item">
                <div class="depoimento-item-img">
                    <img data-lazy="https://osegredo.com.br/wp-content/uploads/2018/02/pessoas-que-superam-a-depress%C3%A3o-830x450.jpg"
                         src="https://osegredo.com.br/wp-content/uploads/2018/02/pessoas-que-superam-a-depress%C3%A3o-830x450.jpg"
                         alt="Imagem depoimento">
                </div>
                <div class="depoimento-item-texto">
                    <p>Ensinar é uma arte que a gente pode até não dominar, mas faz com muito amor e carinho.</p>
                    <span>@@luistopster 1</span>
                </div>
            </div>
        </div>
        <div>
            <div class="depoimento-item">
                <div class="depoimento-item-img">
                    <img data-lazy="https://fotografiadicas.com.br/wp-content/uploads/2017/10/15-Como-fotografar-pessoas-Fotografia-Dicas.jpg"
                         src="https://fotografiadicas.com.br/wp-content/uploads/2017/10/15-Como-fotografar-pessoas-Fotografia-Dicas.jpg"
                         alt="Imagem depoimento">
                </div>
                <div class="depoimento-item-texto">
                    <p>Ensinar é uma arte que a gente pode até não dominar, mas faz com muito amor e carinho.</p>
                    <span>@@luistopster 2</span>
                </div>
            </div>
        </div>
        <div>
            <div class="depoimento-item">
                <div class="depoimento-item-img">
                    <img data-lazy="https://forbes.uol.com.br/wp-content/uploads/2019/03/abre-carreira-sucesso-15mar2019-gettyimages.jpg"
                         src="https://forbes.uol.com.br/wp-content/uploads/2019/03/abre-carreira-sucesso-15mar2019-gettyimages.jpg"
                         alt="Imagem depoimento">
                </div>
                <div class="depoimento-item-texto">
                    <p>Ensinar é uma arte que a gente pode até não dominar, mas faz com muito amor e carinho.</p>
                    <span>@@luistopster 3</span>
                </div>
            </div>
        </div>
        <div>
            <div class="depoimento-item">
                <div class="depoimento-item-img">
                    <img data-lazy="img/gr/gr-img-depoimento.jpg" src="img/gr/gr-img-depoimento.jpg"
                         alt="Imagem depoimento">
                </div>
                <div class="depoimento-item-texto">
                    <p>Ensinar é uma arte que a gente pode até não dominar, mas faz com muito amor e carinho.</p>
                    <span>@@luistopster 4</span>
                </div>
            </div>
        </div>
        <div>
            <div class="depoimento-item">
                <div class="depoimento-item-img">
                    <img data-lazy="img/gr/gr-img-depoimento.jpg" src="img/gr/gr-img-depoimento.jpg"
                         alt="Imagem depoimento">
                </div>
                <div class="depoimento-item-texto">
                    <p>Ensinar é uma arte que a gente pode até não dominar, mas faz com muito amor e carinho.</p>
                    <span>@@luistopster 5</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUEM SOMOS NÓS -->
<div class="container">
    <div class="quem-somos">
        <div class="quem-somos-texto">
            <h3>A gente é isso aqui ó</h3>
            <p>
                Sabe quando você encontra uma galera que pensa a mesma coisa que você e quer atingir os mesmos
                objetivos que você sempre sonhou? <strong>Pois é, com a gente foi exatamente assim.</strong>
            </p>
            <p>
                Aos poucos a gente foi se conhecendo e entendo que todo mundo podia ajudar. As ideas foram casando,
                os pensamentos se encontrando e a primeira turma foi fechada. Oi?
            </p>
            <p>
                E agora? O frio na barriga se transformou em motivação, num piscar de olhos tudo aconteceu...
                alegrias, tristezas, desafios e conquistas! Muitas conquistas, mas também sorrisos e vidas
                transformadas.
            </p>
            <p>
                Da turma #00 fomos nos deparar na turma #120, isso são mais de 1.400 alunos que aprenderam com o
                Estúdio Mappa a dar vida àquilo que eles sempre amaram na teoria.
            </p>
            <p>
                As dinâmicas em sala de aula, as amizades sinceras
                e as resenhas fazem parte do nosso dia-a-dia.
                Vem fazer parte você também!
            </p>
        </div>
        <div class="quem-somos-img">
            <img src="img/gr/gr-somos.jpg" alt="Imagem do Quem somos">
            <h4>Vem <br> Pro <br> Mappa</h4>
        </div>
    </div>
</div>


<!-- O QUE JA FALAM POR AI -->
<div class="container">
    <div class="conteudo-oque-falam">
        <div class="conteudo-oque-falam-texto">
            <h3>
                O que já <br>
                falaram por aí
            </h3>
        </div>
        <div id="carousel-depoimentos-falas">
            <div>
                <div class="falas-item">
                    <p>
                        "Estou muito animada e me surpreendi com a dinâmica deste curso. O conteúdo programático vai
                        de encontro com os assuntos que nós, estudantes de arquitetura e urbanismo, nos deparamos ao
                        longo da faculdade."
                    </p>
                    <div class="autor">
                        <img src="img/gr/gr-img-depoimento.jpg" alt="Autor depoimento">
                        <h4>@@ogabrielparente</h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="falas-item">
                    <p>
                        "Estou muito animada e me surpreendi com a dinâmica deste curso. O conteúdo programático vai
                        de encontro com os assuntos que nós, estudantes de arquitetura e urbanismo, nos deparamos ao
                        longo da faculdade. 2"
                    </p>
                    <div class="autor">
                        <img src="img/gr/gr-img-depoimento.jpg" alt="Autor depoimento">
                        <h4>@@ogabrielparente2</h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="falas-item">
                    <p>
                        "Estou muito animada e me surpreendi com a dinâmica deste curso. O conteúdo programático vai
                        de encontro com os assuntos que nós, estudantes de arquitetura e urbanismo, nos deparamos ao
                        longo da faculdade. 3"
                    </p>
                    <div class="autor">
                        <img src="img/gr/gr-img-depoimento.jpg" alt="Autor depoimento">
                        <h4>@@ogabrielparente3</h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="falas-item">
                    <p>
                        "Estou muito animada e me surpreendi com a dinâmica deste curso. O conteúdo programático vai
                        de encontro com os assuntos que nós, estudantes de arquitetura e urbanismo, nos deparamos ao
                        longo da faculdade. 4"
                    </p>
                    <div class="autor">
                        <img src="img/gr/gr-img-depoimento.jpg" alt="Autor depoimento">
                        <h4>@@ogabrielparente4</h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="falas-item">
                    <p>
                        "Estou muito animada e me surpreendi com a dinâmica deste curso. O conteúdo programático vai
                        de encontro com os assuntos que nós, estudantes de arquitetura e urbanismo, nos deparamos ao
                        longo da faculdade. 5"
                    </p>
                    <div class="autor">
                        <img src="img/gr/gr-img-depoimento.jpg" alt="Autor depoimento">
                        <h4>@@ogabrielparente5</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTATO -->
<div class="container">
    <div class="contato">
        <div class="contato-esquerda">
            <h3>
                São mais de <strong> 1.400 <br> alunos</strong> de mais de <br>
                5 universidades.
            </h3>
        </div>
        <div class="contato-centro">
            <img src="img/gr/gr-mulher-contato.png" alt="">
        </div>
        <div class="contato-direita">
            <h3>Quer saber mais?</h3>
            <p>
                Faça parte da nossa lista e tenha acesso à vários conteúdos importantes de Arquitetura e Urbanismo
                sem contar das principais novidades do mercado.
            </p>
            <form action="https://paginas.rocks/Pages/Index/275807" method="post">
                <input id="id" name="id" type="hidden" value="275807" />
                <input id="pid" name="pid" type="hidden" value="11549122" />
                <input id="list_id" name="list_id" type="hidden" value="275807" />
                <input id="provider" name="provider" type="hidden" value="leadlovers" />
                <label for="email">E-mail:</label>
                <input type="hidden" id="source" name="source" value="" />
                <img src="https://llimages.com/redirect/redirect.aspx?A=V&p=11549122&m=275807" style="display: none;" />
                <input id="email" name="email" type="email" placeholder="E-mail" required>
                <button type="submit">Enviar</button>
            </form>

        </div>
    </div>
</div>

<!-- AJUDA -->
<div class="ajuda" style="margin-bottom: 20px">
    <div class="container">
        <div class="container">
            @if (Model.Any())
            {
                <div id="carousel-ajuda">
                    @foreach (var produto in Model)
                    {
                        <partial name="_Product" for="@produto" />
                    }
                </div>
                <a href="#" style="display: none" class="btn-ver-todos-cursos">Ver todos os cursos</a>
            }
            else
            {
                <h3>Aguarde! Estamos organizando nossos cursos para oferecer <br /> exatamente o que você precisa, com a nossa cara e do nosso jeitinho que você já conhece. Em breve temos novidades.</h3>
            }
        </div>
    </div>
</div>

<!-- GARANTIA -->
<div class="container" style="display: none">
    <div class="garantia">
        <div class="garantia-esquerda">
            <div class="box">
                <h3>Garantia <br> de <strong>30 dias</strong></h3>
            </div>
        </div>
        <div class="garantia-direita">
            <p>
                A gente sabe o que é melhor para você e sempre procura oferecer os melhores cursos que atendem a sua
                necessidade no momento que você mais precisa de ajuda. Mas sabemos que nem sempre as pessoas vão ver
                assim... talvez você seja uma delas. Se você não gostar dos cursos ou não achar que eles se
                enquadram nas suas necessidades, não deixe de nos procurar.
            </p>
            <p>Esse é o nosso compromisso.</p>
            <p><strong>Iremos entender você e devolver todo o seu investimento.</strong></p>
        </div>
    </div>
</div>
