<div class="footer">
    <div class="container">
        <div class="logo">
            <img src="~/img/gr/gr-logo-footer.png" alt="">
        </div>
        <div class="footer-contato">
            <h4>Entre em contato</h4>
            <h3>
                contato@estúdiomappa.com.br
            </h3>
            <h4>Faça parte do nosso grupo</h4>
            <h3>
                <a href="https://www.facebook.com/groups/mappaforum">www.facebook.com/groups/mappaforum</a>

            </h3>
        </div>
        <div class="redes-sociais">
            <a href="https://www.instagram.com/estudiomappa/" target="_blank">
                <img src="~/img/gr/gr-instagram.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UCMOQ2aVm8BY9TcA3pFXANRA" target="_blank">
                <img src="~/img/gr/gr-youtube.png" alt="Youtube">
            </a>
            <a href="https://www.facebook.com/groups/mappaforum/" target="_blank">
                <img src="~/img/gr/gr-facebook.png" alt="Facebook">
            </a>
        </div>
        <div class="Copy">
            <p>COPYRIGHT - 2019 - ESTÚDIO MAPPA</p>
            <span>Todos os direitos reservados.</span>
        </div>
    </div>
</div>