@functions{
    bool IsHome()
    {
        return Context.Request.Path == "/";
    }
}
<header>
    <div class="container">
        <div class="wrapper-header">
            <a href="/" class="logo-normal">
                <svg id="logo-mappa" xmlns="http://www.w3.org/2000/svg" width="85" height="151" viewBox="0 0 85 151">
                    <g fill="none" fill-rule="evenodd">
                        <path id="path1" fill="#191919" d="M0 0h84.656v150.655H0z" />
                        <path id="path2"
                              d="M46.463 118.118c0-.758-.152-1.317-.454-1.676-.303-.359-.818-.539-1.545-.539H42.89v8.645h1.605c.666 0 1.16-.175 1.484-.523.322-.349.484-.912.484-1.692v-4.215zm-5.875 20.734v-25.317h3.876c1.454 0 2.53.364 3.225 1.092.697.728 1.046 1.892 1.046 3.491v4.153c0 1.6-.344 2.759-1.03 3.476-.687.719-1.757 1.078-3.21 1.078H42.89v12.027h-2.302zm17.898-20.734c0-.758-.152-1.317-.454-1.676-.303-.359-.818-.539-1.545-.539h-1.575v8.645h1.605c.666 0 1.16-.175 1.484-.523.323-.349.485-.912.485-1.692v-4.215zm-5.876 20.734v-25.317h3.877c1.454 0 2.529.364 3.225 1.092.696.728 1.045 1.892 1.045 3.491v4.153c0 1.6-.343 2.759-1.03 3.476-.686.719-1.756 1.078-3.21 1.078h-1.605v12.027H52.61zm16.445-6.398c-.263-2.174-.525-4.322-.787-6.445a425.084 425.084 0 0 1-.757-6.537 602.68 602.68 0 0 1-.803 6.537c-.273 2.123-.55 4.271-.833 6.445h3.18zm.818 6.399l-.545-4.246h-3.725l-.546 4.246h-2.24l3.422-25.319h2.695l3.24 25.319h-2.301zm-58.06-31.43v-20.96h5.774v1.961h-3.762v7.36h2.65v1.936h-2.65v7.794h3.894v1.91h-5.907zm13.673-6.12c0-.325-.009-.591-.025-.796a2.315 2.315 0 0 0-.101-.54 1.766 1.766 0 0 0-.203-.424 7.307 7.307 0 0 0-.303-.424 15.542 15.542 0 0 0-.759-.86c-.253-.266-.514-.531-.784-.797s-.543-.548-.821-.847c-.28-.3-.57-.639-.874-1.016-.336-.393-.535-.8-.594-1.22-.059-.42-.088-.929-.088-1.529v-3.16c0-2.329 1.079-3.494 3.237-3.494 1.164 0 1.981.287 2.453.86.472.574.709 1.452.709 2.634v3.854h-1.796v-3.597c0-.53-.089-.959-.266-1.285-.177-.325-.527-.488-1.05-.488-.893 0-1.34.506-1.34 1.516v3.135c0 .445.03.77.09.976.058.205.18.428.366.668.505.65 1.024 1.225 1.555 1.721.531.497 1.066 1.071 1.606 1.722.186.223.337.445.455.668.118.223.211.462.279.72.067.256.113.547.138.873.026.325.039.693.039 1.104v3.032c0 1.13-.25 1.996-.746 2.595-.498.6-1.328.9-2.492.9-1.13 0-1.952-.3-2.466-.9-.515-.6-.771-1.464-.771-2.595v-4.496h1.846v4.213c0 .55.097.994.29 1.337.195.343.545.513 1.05.513.49 0 .84-.132 1.05-.397.21-.266.316-.656.316-1.17v-3.006zm6.855 6.27V88.404h-2.327v-1.978h6.55v1.978h-2.327v19.167h-1.896zm9.23-23.586l2.834-4.136h2.25l-3.414 4.136h-1.67zm2.632 2.44h1.922v17.78c0 2.397-1.088 3.596-3.263 3.596-2.176 0-3.263-1.199-3.263-3.596v-17.78h1.922v17.78c0 1.113.447 1.67 1.341 1.67.893 0 1.34-.557 1.34-1.67v-17.78zm10.217 3.648c0-.53-.114-.942-.341-1.233-.228-.29-.57-.437-1.025-.437h-1.315v17.24h1.315c.91 0 1.366-.556 1.366-1.67v-13.9zm-4.603 17.497V86.427h3.237c1.113 0 1.939.321 2.479.964.54.642.81 1.528.81 2.659v13.925c0 2.398-1.097 3.597-3.289 3.597h-3.237zm10.192 0V86.427h1.922v21.145H60.01zm10.218-17.78c0-1.078-.455-1.618-1.366-1.618-.893 0-1.34.54-1.34 1.619v14.414c0 1.113.447 1.67 1.34 1.67.911 0 1.366-.557 1.366-1.67V89.793zm-4.629 0c0-2.397 1.089-3.596 3.263-3.596 2.192 0 3.288 1.2 3.288 3.597v14.414c0 2.397-1.096 3.596-3.288 3.596-2.174 0-3.263-1.199-3.263-3.596V89.793zm-44.027 49.06v-7.66a986.868 986.868 0 0 1 .061-10.952l-2.696 18.613h-2.03l-2.664-18.612a1022.432 1022.432 0 0 1 .061 10.952v7.66h-2.12v-25.319h3.089l2.634 19.781 2.635-19.78h3.18v25.318h-2.15zm12.082-6.398c-.262-2.174-.525-4.322-.787-6.445a433.15 433.15 0 0 1-.757-6.537c-.263 2.236-.53 4.415-.803 6.537-.272 2.123-.55 4.271-.833 6.445h3.18zm.818 6.399l-.545-4.246H30.2l-.545 4.246h-2.241l3.422-25.319h2.695l3.241 25.319h-2.302z" />
                    </g>
                </svg>

                <svg id="svg-side" xmlns="http://www.w3.org/2000/svg" width="73" height="129" viewBox="0 0 73 129">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#191919" stroke="#FFF" stroke-width="3" d="M1.5 1.5h69.563v125.559H1.5z" />
                        <path fill="#FFF" d="M39.825 100.794c0-.647-.13-1.124-.389-1.43-.26-.306-.7-.46-1.324-.46h-1.35v7.377h1.376c.571 0 .995-.149 1.272-.446.277-.298.415-.779.415-1.444v-3.597zm-5.035 17.693V96.883h3.322c1.246 0 2.168.31 2.765.932.597.621.896 1.614.896 2.98v3.543c0 1.365-.295 2.354-.883 2.966-.589.613-1.506.92-2.752.92h-1.376v10.263H34.79zm15.34-17.693c0-.647-.13-1.124-.389-1.43-.26-.306-.7-.46-1.324-.46h-1.35v7.377h1.376c.571 0 .995-.149 1.272-.446.277-.298.415-.779.415-1.444v-3.597zm-5.035 17.693V96.883h3.322c1.246 0 2.168.31 2.765.932.597.621.896 1.614.896 2.98v3.543c0 1.365-.295 2.354-.883 2.966-.589.613-1.506.92-2.752.92h-1.375v10.263h-1.973zm14.095-5.46c-.225-1.855-.45-3.688-.675-5.5-.225-1.81-.441-3.67-.648-5.578a512.107 512.107 0 0 1-.689 5.579c-.234 1.811-.471 3.644-.714 5.5h2.726zm.701 5.46l-.467-3.622H56.23l-.468 3.623h-1.92l2.933-21.605h2.31l2.778 21.605h-1.973zM10.125 91.669V73.782h4.95v1.673H11.85v6.281h2.27v1.652h-2.27v6.65h3.338v1.63h-5.063zm11.72-5.223c0-.277-.007-.504-.021-.679a1.968 1.968 0 0 0-.087-.46 1.504 1.504 0 0 0-.174-.363c-.072-.109-.159-.23-.26-.361a13.281 13.281 0 0 0-.65-.734 31.409 31.409 0 0 0-.672-.68 22.746 22.746 0 0 1-.704-.724 16.045 16.045 0 0 1-.749-.866c-.288-.336-.459-.683-.509-1.041a9.498 9.498 0 0 1-.076-1.305v-2.696c0-1.988.925-2.982 2.775-2.982.998 0 1.698.245 2.103.734.404.49.607 1.239.607 2.248v3.288H21.89v-3.07c0-.452-.076-.818-.228-1.096-.152-.277-.452-.416-.9-.416-.766 0-1.149.431-1.149 1.294v2.675c0 .38.025.657.077.832.05.176.155.366.314.57.433.556.878 1.046 1.333 1.47.455.423.914.913 1.376 1.468.16.19.29.38.39.57.102.19.182.395.24.614.057.22.096.468.118.746.022.277.033.592.033.942v2.587c0 .965-.213 1.704-.64 2.215-.426.511-1.137.767-2.135.767-.968 0-1.673-.256-2.113-.767-.442-.511-.662-1.25-.662-2.215v-3.836h1.583v3.595c0 .469.082.848.249 1.14.166.293.466.439.9.439.42 0 .719-.113.9-.34.18-.226.27-.56.27-.998v-2.565zm5.876 5.35V75.439h-1.995v-1.688h5.615v1.688h-1.995v16.356h-1.625zm7.912-20.126l2.428-3.53h1.93l-2.927 3.53h-1.431zm2.255 2.082h1.648v15.172c0 2.046-.933 3.069-2.797 3.069-1.865 0-2.797-1.023-2.797-3.07V73.752h1.647v15.172c0 .95.384 1.425 1.15 1.425.765 0 1.149-.475 1.149-1.425V73.75zm8.758 3.113c0-.453-.098-.804-.293-1.052-.195-.248-.488-.373-.878-.373h-1.127v14.712h1.127c.78 0 1.17-.475 1.17-1.426v-11.86zM42.7 91.794V73.752h2.775c.954 0 1.662.274 2.124.822.463.548.694 1.305.694 2.27v11.882c0 2.047-.94 3.07-2.818 3.07H42.7zm8.736 0V73.752h1.648v18.044h-1.648zm8.759-15.17c0-.921-.39-1.382-1.171-1.382-.766 0-1.15.46-1.15 1.381v12.3c0 .95.384 1.425 1.15 1.425.78 0 1.17-.475 1.17-1.425v-12.3zm-3.968 0c0-2.047.933-3.07 2.797-3.07 1.879 0 2.818 1.023 2.818 3.07v12.299c0 2.046-.94 3.069-2.818 3.069-1.864 0-2.797-1.023-2.797-3.07V76.624zM18.49 118.487v-6.537a768.513 768.513 0 0 1 .052-9.346l-2.31 15.883h-1.74l-2.284-15.883a868.602 868.602 0 0 1 .052 9.346v6.537h-1.817V96.883h2.648l2.258 16.88 2.258-16.88h2.726v21.605h-1.843zm10.357-5.46c-.226-1.856-.45-3.689-.675-5.5-.225-1.811-.44-3.67-.649-5.579a512.107 512.107 0 0 1-.688 5.579c-.234 1.811-.472 3.644-.714 5.5h2.726zm.7 5.46l-.467-3.623h-3.192l-.467 3.623h-1.921l2.933-21.605h2.31l2.778 21.605h-1.973z" />
                    </g>
                </svg>
            </a>

            <a href="/" class="logo-fixed">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="84" viewBox="0 0 61 84">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#191919" d="M0-24h60.469V83.467H0z" />
                        <path fill="#FFF" d="M33.188 60.258c0-.541-.108-.94-.324-1.196-.217-.256-.585-.384-1.104-.384h-1.125v6.166h1.147c.476 0 .829-.124 1.06-.373.23-.249.346-.65.346-1.207v-3.006zm-4.197 14.79v-18.06h2.77c1.038 0 1.806.26 2.303.78.497.518.746 1.349.746 2.49v2.962c0 1.141-.245 1.968-.735 2.48s-1.255.768-2.293.768h-1.147v8.58h-1.644zm12.784-14.79c0-.541-.108-.94-.324-1.196-.216-.256-.584-.384-1.103-.384h-1.125v6.166h1.147c.475 0 .828-.124 1.06-.373.23-.249.345-.65.345-1.207v-3.006zm-4.196 14.79v-18.06h2.769c1.038 0 1.806.26 2.303.78.498.518.747 1.349.747 2.49v2.962c0 1.141-.245 1.968-.736 2.48-.49.512-1.254.768-2.292.768h-1.147v8.58h-1.644zm11.746-4.564c-.188-1.55-.375-3.083-.562-4.598a302.84 302.84 0 0 1-.54-4.663c-.189 1.595-.38 3.15-.575 4.663-.194 1.515-.392 3.047-.594 4.598h2.271zm.584 4.564l-.39-3.028h-2.66l-.39 3.028h-1.6l2.444-18.06h1.926l2.314 18.06H49.91zM8.438 52.628V37.678h4.124v1.399H9.875v5.25h1.892v1.38H9.875v5.56h2.781v1.363H8.437zm9.766-4.365c0-.232-.006-.422-.018-.568a1.65 1.65 0 0 0-.072-.385 1.259 1.259 0 0 0-.145-.303 5.213 5.213 0 0 0-.216-.302c-.181-.22-.361-.424-.542-.614-.18-.19-.368-.378-.56-.568-.193-.19-.388-.391-.587-.605a13.4 13.4 0 0 1-.624-.724c-.24-.28-.382-.57-.424-.87a7.964 7.964 0 0 1-.063-1.09v-2.255c0-1.661.77-2.492 2.312-2.492.831 0 1.415.204 1.752.613.337.41.506 1.036.506 1.879v2.749h-1.282v-2.566c0-.378-.064-.684-.19-.916-.127-.232-.377-.349-.75-.349-.638 0-.957.361-.957 1.082v2.236c0 .318.02.55.063.696.042.147.13.306.262.477.361.464.732.874 1.11 1.228.38.354.762.764 1.148 1.228.133.159.24.317.325.476.085.16.15.33.2.513.047.184.08.392.098.624.018.232.028.494.028.787v2.163c0 .807-.178 1.424-.533 1.851-.356.428-.949.642-1.78.642-.807 0-1.394-.214-1.761-.642-.368-.427-.551-1.044-.551-1.851V47.2h1.319v3.005c0 .392.068.71.207.954.139.244.389.366.75.366.35 0 .599-.094.75-.284.15-.19.225-.467.225-.834v-2.144zm4.896 4.472V39.062h-1.662v-1.41h4.68v1.41h-1.663v13.673H23.1zm6.594-16.824l2.024-2.95h1.608l-2.44 2.95h-1.192zm1.88 1.74h1.372v12.683c0 1.71-.777 2.565-2.33 2.565-1.554 0-2.331-.855-2.331-2.565V37.651h1.373v12.683c0 .794.32 1.191.958 1.191.638 0 .957-.397.957-1.191V37.651zm7.297 2.603c0-.379-.081-.672-.243-.88-.163-.207-.407-.312-.732-.312h-.94V51.36h.94c.65 0 .975-.397.975-1.191v-9.915zm-3.288 12.48V37.652h2.313c.795 0 1.385.23 1.77.688.386.458.578 1.09.578 1.896v9.934c0 1.71-.782 2.566-2.348 2.566h-2.313zm7.28 0V37.652h1.374v15.084h-1.373zm7.3-12.682c0-.77-.326-1.154-.976-1.154-.639 0-.958.385-.958 1.154v10.282c0 .794.32 1.191.958 1.191.65 0 .975-.397.975-1.191V40.052zm-3.307 0c0-1.71.777-2.566 2.33-2.566 1.566 0 2.35.856 2.35 2.566v10.282c0 1.71-.784 2.565-2.35 2.565-1.553 0-2.33-.855-2.33-2.565V40.052zM15.408 75.048v-5.464a644.435 644.435 0 0 1 .043-7.812l-1.925 13.276h-1.45l-1.903-13.276a728.36 728.36 0 0 1 .044 7.812v5.464H8.701v-18.06h2.206l1.882 14.11 1.882-14.11h2.271v18.06h-1.535zm8.63-4.564c-.188-1.55-.375-3.083-.562-4.598a308.585 308.585 0 0 1-.54-4.663c-.189 1.595-.38 3.15-.575 4.663-.194 1.515-.392 3.047-.594 4.598h2.271zm.584 4.564l-.39-3.028h-2.66l-.39 3.028h-1.6l2.444-18.06h1.926l2.314 18.06h-1.644z" />
                    </g>
                </svg>
            </a>


            <ul class="menu">
                <li asp-visibility="IsHome()">
                    <a href="#" onclick="scrollDiv('conteudo-sobre')">Sobre</a>
                </li>
                <li asp-visibility="IsHome()">
                    <a href="#" onclick="scrollDiv('quem-somos')">A gente</a>
                </li>
                <li asp-visibility="IsHome()">
                    <a href="#" onclick="scrollDiv('carousel-depoimentos')">Depoimentos</a>
                </li>
                <li>
                    <a href="~/Contato/index" onclick="scrollDiv('contato')">Contato</a>
                </li>
                <li class="active-cursos" asp-visibility="!Context.User.Identity.IsAuthenticated">
                    <a asp-controller="Login" asp-action="Entrar">ENTRAR</a>
                </li>
                <li class="active-cursos" asp-visibility="Context.User.Identity.IsAuthenticated">
                    <a asp-controller="MeusPedidos" asp-action="Index">MEUS CURSOS</a>
                </li>
                @*<li class="active-cursos" asp-visibility="Context.User.Identity.IsAuthenticated">
                    <a asp-controller="MinhaConta" asp-action="Index">MEUS DADOS</a>
                </li>*@
            </ul>
            <!-- MENU MOBILE -->
            <div class="menu-mobile" onclick="ToggleMenu()">
                <div class="menu-hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="title-call">
            <h2>Aprenda com quem <br> entende você e acabou <br> de passar por tudo "isso".</h2>
            <p>
                Uma notícia boa e uma ruim. A ruim é que a <br> faculdade é realmente difícil e isso não vai <br>
                melhorar. A boa é que a gente acabou de <br> passar por isso e pode te ajudar.
            </p>
        </div>
    </div>
</header>

<div id="sidemenu">
    <svg id="svg-side" xmlns="http://www.w3.org/2000/svg" width="73" height="129" viewBox="0 0 73 129">
        <g fill="none" fill-rule="evenodd">
            <path fill="#191919" stroke="#FFF" stroke-width="3" d="M1.5 1.5h69.563v125.559H1.5z" />
            <path fill="#FFF" d="M39.825 100.794c0-.647-.13-1.124-.389-1.43-.26-.306-.7-.46-1.324-.46h-1.35v7.377h1.376c.571 0 .995-.149 1.272-.446.277-.298.415-.779.415-1.444v-3.597zm-5.035 17.693V96.883h3.322c1.246 0 2.168.31 2.765.932.597.621.896 1.614.896 2.98v3.543c0 1.365-.295 2.354-.883 2.966-.589.613-1.506.92-2.752.92h-1.376v10.263H34.79zm15.34-17.693c0-.647-.13-1.124-.389-1.43-.26-.306-.7-.46-1.324-.46h-1.35v7.377h1.376c.571 0 .995-.149 1.272-.446.277-.298.415-.779.415-1.444v-3.597zm-5.035 17.693V96.883h3.322c1.246 0 2.168.31 2.765.932.597.621.896 1.614.896 2.98v3.543c0 1.365-.295 2.354-.883 2.966-.589.613-1.506.92-2.752.92h-1.375v10.263h-1.973zm14.095-5.46c-.225-1.855-.45-3.688-.675-5.5-.225-1.81-.441-3.67-.648-5.578a512.107 512.107 0 0 1-.689 5.579c-.234 1.811-.471 3.644-.714 5.5h2.726zm.701 5.46l-.467-3.622H56.23l-.468 3.623h-1.92l2.933-21.605h2.31l2.778 21.605h-1.973zM10.125 91.669V73.782h4.95v1.673H11.85v6.281h2.27v1.652h-2.27v6.65h3.338v1.63h-5.063zm11.72-5.223c0-.277-.007-.504-.021-.679a1.968 1.968 0 0 0-.087-.46 1.504 1.504 0 0 0-.174-.363c-.072-.109-.159-.23-.26-.361a13.281 13.281 0 0 0-.65-.734 31.409 31.409 0 0 0-.672-.68 22.746 22.746 0 0 1-.704-.724 16.045 16.045 0 0 1-.749-.866c-.288-.336-.459-.683-.509-1.041a9.498 9.498 0 0 1-.076-1.305v-2.696c0-1.988.925-2.982 2.775-2.982.998 0 1.698.245 2.103.734.404.49.607 1.239.607 2.248v3.288H21.89v-3.07c0-.452-.076-.818-.228-1.096-.152-.277-.452-.416-.9-.416-.766 0-1.149.431-1.149 1.294v2.675c0 .38.025.657.077.832.05.176.155.366.314.57.433.556.878 1.046 1.333 1.47.455.423.914.913 1.376 1.468.16.19.29.38.39.57.102.19.182.395.24.614.057.22.096.468.118.746.022.277.033.592.033.942v2.587c0 .965-.213 1.704-.64 2.215-.426.511-1.137.767-2.135.767-.968 0-1.673-.256-2.113-.767-.442-.511-.662-1.25-.662-2.215v-3.836h1.583v3.595c0 .469.082.848.249 1.14.166.293.466.439.9.439.42 0 .719-.113.9-.34.18-.226.27-.56.27-.998v-2.565zm5.876 5.35V75.439h-1.995v-1.688h5.615v1.688h-1.995v16.356h-1.625zm7.912-20.126l2.428-3.53h1.93l-2.927 3.53h-1.431zm2.255 2.082h1.648v15.172c0 2.046-.933 3.069-2.797 3.069-1.865 0-2.797-1.023-2.797-3.07V73.752h1.647v15.172c0 .95.384 1.425 1.15 1.425.765 0 1.149-.475 1.149-1.425V73.75zm8.758 3.113c0-.453-.098-.804-.293-1.052-.195-.248-.488-.373-.878-.373h-1.127v14.712h1.127c.78 0 1.17-.475 1.17-1.426v-11.86zM42.7 91.794V73.752h2.775c.954 0 1.662.274 2.124.822.463.548.694 1.305.694 2.27v11.882c0 2.047-.94 3.07-2.818 3.07H42.7zm8.736 0V73.752h1.648v18.044h-1.648zm8.759-15.17c0-.921-.39-1.382-1.171-1.382-.766 0-1.15.46-1.15 1.381v12.3c0 .95.384 1.425 1.15 1.425.78 0 1.17-.475 1.17-1.425v-12.3zm-3.968 0c0-2.047.933-3.07 2.797-3.07 1.879 0 2.818 1.023 2.818 3.07v12.299c0 2.046-.94 3.069-2.818 3.069-1.864 0-2.797-1.023-2.797-3.07V76.624zM18.49 118.487v-6.537a768.513 768.513 0 0 1 .052-9.346l-2.31 15.883h-1.74l-2.284-15.883a868.602 868.602 0 0 1 .052 9.346v6.537h-1.817V96.883h2.648l2.258 16.88 2.258-16.88h2.726v21.605h-1.843zm10.357-5.46c-.226-1.856-.45-3.689-.675-5.5-.225-1.811-.44-3.67-.649-5.579a512.107 512.107 0 0 1-.688 5.579c-.234 1.811-.472 3.644-.714 5.5h2.726zm.7 5.46l-.467-3.623h-3.192l-.467 3.623h-1.921l2.933-21.605h2.31l2.778 21.605h-1.973z" />
        </g>
    </svg>
    <span class="closeSideMenu" onclick="ToggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#F28D24" fill-rule="evenodd" d="M12 14.828l-8.586 8.586-2.828-2.828L9.172 12 .586 3.414 3.414.586 12 9.172 20.586.586l2.828 2.828L14.828 12l8.586 8.586-2.828 2.828L12 14.828z" />
        </svg>
    </span>
    <ul>
        <li asp-visibility="IsHome()">
            <a href="#" onclick="scrollDivMobile('conteudo-sobre')">
                Sobre
            </a>
        </li>
        <li asp-visibility="IsHome()">
            <a href="#" onclick="scrollDivMobile('quem-somos')">
                A gente
            </a>
        </li>
        <li>
            <a href="~/Contato/index">
                Contato
            </a>
        </li>
        <li asp-visibility="IsHome()">
            <a href="#" onclick="scrollDivMobile('carousel-depoimentos')">
                Depoimentos
            </a>
        </li>
        <li asp-visibility="!Context.User.Identity.IsAuthenticated">
            <a asp-controller="Login" asp-action="Entrar">ENTRAR</a>
        </li>
        <li asp-visibility="Context.User.Identity.IsAuthenticated">
            <a asp-controller="MeusPedidos" asp-action="Index">MEUS CURSOS</a>
        </li>
    </ul>
    <div class="redes-sociais">
        <a href="https://www.instagram.com/estudiomappa/" target="_blank">
            <img src="./img/gr/gr-instagram.png" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UCMOQ2aVm8BY9TcA3pFXANRA" target="_blank">
            <img src="./img/gr/gr-youtube.png" alt="">
        </a>
        <a href="https://www.facebook.com/groups/mappaforum/" target="_blank">
            <img src="./img/gr/gr-facebook.png" alt="">
        </a>
    </div>
</div>