@inject IOptions<AppConfig> App

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estúdio Mappa</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap" rel="stylesheet">
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/css/bundle.min.css">
</head>

<body>
    <!-- HEADER -->
    <partial name="_Header" />

    @RenderBody()

    <!-- FOOTER -->
    <partial name="_Footer" />

    <!-- MODAL -->
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-Y-AP5yiPgs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <partial name="_Scripts" />
    @RenderSection("scripts", required: false)
</body>

</html>