@using Admin.ViewModels.Produto
@model ProdutoViewModel
@inject ICloudStorage CloudStorage
@inject IConteudoReadOnlyRepository ConteudoReadOnlyRepository
@{
    ViewData["Title"] = ProdutoPermissoes.Descricao;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>
            @ProdutoPermissoes.Descricao
        </h2>
        <ol class="breadcrumb">
            <li>
                <a asp-action="Index">Consulta</a>
            </li>
            <li class="active">
                <strong>
                    @Model.Id.LabelOperacao()
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a asp-action="Index" class="btn btn-default btn-rounded"><i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-shopping-bag"></i> @Model.Id.LabelOperacao() Produto
                    </h5>
                </div>
                <div class="ibox-content" data-pagina="Produto">
                    <form asp-antiforgery="true" asp-action="Form" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ImagemUrl" />
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label asp-for="Titulo"></label>
                                            <input asp-for="Titulo" class="form-control" asp-placeholder="" maxlength="1000" />
                                            <span asp-validation-for="Titulo" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Status"></label>
                                            <select asp-for="Status" asp-enum-itens="typeof(EStatus)" class="form-control">
                                                <option value="">Selecione...</option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger small"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label asp-for="Codigo"></label>
                                            <input asp-for="Codigo" class="form-control" asp-placeholder="" maxlength="200" />
                                            <span asp-validation-for="Codigo" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="IdConteudo"></label>
                                            <select asp-for="IdConteudo" asp-select-itens="ConteudoReadOnlyRepository.ListarParaSelect().Convert()" class="form-control">
                                                <option value="">Selecione...</option>
                                            </select>
                                            <span asp-validation-for="IdConteudo" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label asp-for="Imagem"></label>
                                            <input type="file" asp-for="Imagem" class="form-control" asp-placeholder="Selecione a imagem" accept="image/*" />
                                            <span asp-validation-for="Imagem" class="text-danger small"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CategoriaProduto"></label>
                                            <select asp-for="CategoriaProduto" asp-enum-itens="typeof(ECategoriaProduto)" class="form-control">
                                                <option value="">Selecione...</option>
                                            </select>
                                            <span asp-validation-for="CategoriaProduto" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.ImagemUrl))
                            {
                                <div class="col-md-3">
                                    <div class="ibox-content text-center">
                                        <img alt="image" class="rounded-circle" src="@CloudStorage.RecuperarImagemUrl(Model.ImagemUrl)" width="200">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DescricaoLonga"></label>
                                    <textarea asp-for="DescricaoLonga" class="form-control" summernote data-height="250"></textarea>
                                    <span asp-validation-for="DescricaoLonga" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <button type="submit" class="btn btn-primary btn-rounded">
                                <i class="fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <partial name="FormEnviarNps" model="new ProdutoNpsViewModel(Model?.Id)" />
    <partial name="FormListarNps" model="new ProdutoNpsViewModel(Model?.Id)" />
</div>