@inject IOptions<AppConfig> App

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#1ab394">
    <meta name="robots" content="noindex">
    <title>@ViewData["Title"] - @App?.Value?.Admin.Name</title>
    <partial name="_StylePartial" />
</head>
<body>
    <partial name="_LoadingPartial" />
    <partial name="_SkinConfig" />
    <div id="wrapper">
        <partial name="_Navigation" />
        <div id="page-wrapper" class="gray-bg">
            <partial name="_TopNavbar" />
            @RenderBody()
        </div>
    </div>
    <partial name="_ScriptsPartial" />
    <partial name="_MensagemPartial" />
    @RenderSection("Scripts", required: false)
    <div id="container"></div>
</body>
</html>
