@inject IOptions<AppConfig> App
@model RecuperarSenhaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recuperação de Senha - @App?.Value?.Admin?.Name</title>
    <partial name="_StylePartial" />
</head>
<body class="bg-gray bg-login">
    <partial name="_LoadingPartial" />
    <div class="middle-box loginscreen  animated fadeInDown" data-pagina="Login">
        <div>
            <div>
                <h1 class="logo-name" data-tilt>
                    <img src="@App?.Value?.Admin?.Logo" alt="IMG" class="img-responsive img-logo">
                </h1>
            </div>
            <form class="m-t" role="form" asp-action="RecuperarSenha" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <input type="text" asp-for="Email" class="form-control input-lg text-center" placeholder="E-mail">
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
                <button type="submit" class="btn btn-primary block btn-lg btn-rounded full-width m-b">ENVIAR</button>
                <a asp-action="Index" class="btn btn-link text-navy">
                    <small>
                        <i class="fa fa-arrow-left"></i> Voltar
                    </small>
                </a>
            </form>
            <p class="m-t company-name text-center"> <small>&copy; @DateTime.Now.Year | @App.Value.Projeto</small> </p>
        </div>
    </div>
    <partial name="_ScriptsPartial" />
    <partial name="_MensagemPartial" />
</body>
</html>
