@model LoginViewModel
@{
    ViewData["Title"] = "Entrar";
}
@section styles{
    <link href="~/css/contato.css" rel="stylesheet" />
}
<div class="container">
    <div class="content-contato">
        <form asp-controller="Login" asp-action="Entrar" asp-antiforgery="true" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="main-contato">
                <div class="quem-somos-img">
                    <img src="~/img/gr/gr-somos.jpg" alt="Imagem do Quem somos">
                    <h4>Vem <br> Pro <br> Mappa</h4>
                </div>
                <div class="form-contato">
                    <h3>Entrar</h3>
                    <div class="material-textfield blue">
                        <input type="text" asp-for="Email" required maxlength="100" />
                        <label data-content="E-mail">E-mail</label>
                    </div>
                    <div class="material-textfield blue">
                        <input asp-for="Senha" required maxlength="100" />
                        <label data-content="Senha">Senha</label>
                    </div>
                    <div>
                        <a asp-controller="Login" asp-action="Registrar">
                            Cadastre-se
                        </a>
                        <button type="submit" id="btn-form">
                            Entrar
                        </button>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(ViewData["Mensagem"] as string))
                    {
                        <p>
                            @ViewData["Mensagem"].ToString()
                        </p>
                    }
                </div>
            </div>
        </form>
    </div>
</div>